<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <title>Rolik musobaqasi</title>
    <style>
    h1{
    font-size: 44px;
    }
    .btn-primary{
    font-size: 44px;
    }
        body{
        margin-top: 200px;
        }
    </style>
</head>
<body>
<center>
  <main><br><br><br>
        <h1>Assalomu Aleykum!</h1>

    <h1 style="color:blue">Ro'lik musobaqasiga marhamat!!!</h1>
<!--    <button type="submit" class="btn btn-primary">Ro'yhatdan o'tish</button>-->
<br>

    <a href="{% url 'signup-1' %}" class="btn btn-primary btn-lg" >Ro'yxatdan o'tish<br>7-15 yosh</a>
    <a href="{% url 'signup-2' %}" class="btn btn-primary btn-lg" >Ro'yxatdan o'tish<br>16-70 yosh</a>

    {% block content %}
    {% endblock %}
  </main>
</center>
</body>
</html>