<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>

    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <style>
    body{
    margin-top:200px;
    }

        h1{
    font-size: 50px;
    }
    .btn-primary{
    font-size: 30px;
    }
    </style>
    <title>Success</title>
</head>

<body>
<center><br><br>
<h1 style="color:green">Muvaffaqatli ro'yhatdan o'tdingiz!!!</h1>

<h3 style="color:blue">{{ user }} tez orada siz bilan bo'g'lanamiz!</h3><br>

    <a href="/" class="btn btn-primary" >Ortga qaytish</a>
</center>
</body>
</html>
