<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Success</title>
</head>
<style>
    .container{
    margin-left: 10px;
    margin-top: 10px;
    }
</style>

<body>
<div class="container">
    <h1>Ro'yhatdan o'tganlar!</h1>
    <h3>Katta yoshlilar.</h3><br>

     {% for e in users %}
    <h5>{{ forloop.counter }}. Ismi: {{e.full_name}}, Telefon: {{e.phone}}, Yoshi: {{e.birth_day}}</h5>
    <a class="btn btn-info btn-sm" href="{% url 'user-detail' e.id %}"><span class="glyphicon glyphicon-eye">batafsil</span></a>
    <a class="btn btn-danger btn-sm" href="{% url 'delete-user' e.id %}" onclick="return confirm('Ishonchingiz komilmi?')"
><span class="glyphicon glyphicon-trash">o'chirish</span></a><hr>

    {% endfor %}

    <a href="/" class="btn btn-primary">Ortga qaytish</a>
      <a href="{% url 'table-users' %}" class="btn btn-warning">Kichiklar ro'yxati</a>

</div>
</body>
</html>
